.spinner-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background-color: rgba(255, 255, 255, 0.8); /* Optional: background to make it more noticeable */
}

.spinner {
  width: 350px; /* Increase the size as needed */
  animation: fade 1s ease-in-out infinite; /* Continuous fade effect */
}

/* Keyframe for fading */
@keyframes fade {
  0% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0.5; /* Half visible */
  }
  100% {
    opacity: 1; /* Fully visible again */
  }
}
