.aboutback-header-unique {
    background-color: #b57f00 ;
    padding: 10px;
    display: flex;
    align-items: center;
  }
  
  .aboutback-nav-unique {
    display: flex;
    align-items: center;
  }
  
  .nav-link-unique {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 15px;
  }
  
  .nav-link-unique:hover {
    color:#700B00 ;
  }
  
  .separator-unique {
    margin: 0 5px;
    font-size: 1.2rem;
  }
  