/* Main container */
.about-hero-container {
  margin: 0 auto;
  padding: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

/* Content container */
.about-hero-content {
  width: 100%;
  max-width: 1300px;
}

/* Section styles */
.about-section {
  margin-bottom: 20px; /* Spacing between sections */
}

/* Heading styles */
.about-hero-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #544114;
  border-bottom: 2px solid #c67e00;
  margin-bottom: 10px;
  text-align: left; /* Left-align the heading */
  display: inline-block; /* Restrict the border to the text width */
}


/* Paragraph styles */
.about-section p {
  text-align: justify;
  font-size: 1em;
  line-height: 1.5;
  color: black;
}
