/* Container for the SilverHero component */
.silver-hero-container {
  position: relative;
  width: 100%;
  max-width: 1358px;
  margin: 0 auto;
}

/* Desktop View */
.silver-hero-desktop {
  width: 100%;
  display: block;
}

/* Mobile View */
.silver-hero-mobile {
  width: 100%;
  display: none; /* Hidden by default, shown in smaller screens */
}

/* Media query for mobile view */
@media only screen and (max-width: 768px) {
  .silver-hero-desktop {
    display: none; /* Hide desktop image in mobile view */
  }

  .silver-hero-mobile {
    display: block; /* Show mobile image */
  }
}
